.main-container {
	background-color: lightblue;
	padding:20px;
}


.jumbotron {
	background-color: orange;
	font: white;
	font-size: 32px;
	font-weight: bold;

}
.container {
	font:green;
	background-color: pink;
}

